.searchQueryInput,
.searchVersionInput {
  border-radius: var(--ifm-global-radius);
  border: 2px solid var(--ifm-toc-border-color);
  padding: 0.8rem;
  width: 100%;
  background: var(--docsearch-searchbox-focus-background);
  transition: border var(--ifm-transition-fast) ease;
}

.searchQueryInput:focus,
.searchVersionInput:focus {
  outline: none;
}

.searchQueryInput::placeholder {
  color: var(--docsearch-muted-color);
}

.searchResultsColumn {
  font-size: 0.9rem;
  font-weight: bold;
}

.searchResultItem {
  padding: 1rem 0;
  border-bottom: 1px solid var(--ifm-toc-border-color);
}

.searchResultItemHeading {
  margin-bottom: 0;
}

.searchResultItemHeading a {
  color: #000;
  text-decoration: none;
  transition: none;
}

.searchResultItemPath {
  font-size: 0.8rem;
  color: var(--ifm-color-content-secondary);
  --ifm-breadcrumb-separator-size-multiplier: 1;
}

@media only screen and (max-width: 996px) {
  /* .searchQueryColumn {
    max-width: 60% !important;
  } */

  .searchVersionColumn {
    max-width: 40% !important;
  }

  .searchResultsColumn {
    max-width: 60% !important;
  }

  .searchLogoColumn {
    max-width: 40% !important;
    padding-left: 0 !important;
  }
}

@media screen and (max-width: 576px) {
  .searchQueryColumn {
    max-width: 100% !important;
  }

  .searchVersionColumn {
    max-width: 100% !important;
    padding-left: var(--ifm-spacing-horizontal) !important;
  }
}

.loadingSpinner {
  width: 3rem;
  height: 3rem;
  border: 0.4em solid #eee;
  border-top-color: var(--ifm-color-primary);
  border-radius: 50%;
  animation: loading-spin 1s linear infinite;
  margin: 0 auto;
}

@keyframes loading-spin {
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  margin-top: 2rem;
}

.loaderContainer {
  display: flex;
  height: 68vh;
  align-items: center;
}
