:root {
  --docsearch-primary-color: var(--ifm-color-primary);
  --docsearch-text-color: var(--ifm-font-color-base);
  --docsearch-hit-active-color: var(--ifm-color-primary);
  --docsearch-hit-active-color: var(--ifm-color-gray-900);
}

.DocSearch-Button {
  margin: 0;
  width: 85%;
  margin: 10px;
  border: 1px solid black;
  border-radius: 8px;
  background: transparent;
  padding: 10px 8px;
  height: 44px;
  cursor: text;
  transition: all var(--ifm-transition-fast) var(--ifm-transition-timing-default);
  overflow: clip;
}

.DocSearch-Cancel {
  margin: 0 10px;
}

.DocSearch-Hit-path mark,
.DocSearch-Hit[aria-selected="true"] mark,
.DocSearch-Hit-title mark {
  color: var(--ifm-color-primary);
  background-color: var(--ifm-color-brand);
}

.DocSearch-Hit[aria-selected="true"] .DocSearch-Hit-action,
.DocSearch-MagnifierLabel,
.DocSearch-Reset,
.DocSearch-Cancel,
.DocSearch-Hit-Container *:not(mark),
.DocSearch-Hit-source,
.DocSearch-Hits ul li a,
.DocSearch-Hit[aria-selected="true"] .DocSearch-Hit-icon,
.DocSearch-Hit[aria-selected="true"] .DocSearch-Hit-path,
.DocSearch-Hit[aria-selected="true"] .DocSearch-Hit-text,
.DocSearch-Hit[aria-selected="true"] .DocSearch-Hit-title,
.DocSearch-Hit[aria-selected="true"] .DocSearch-Hit-Tree {
  color: var(--ifm-color-gray-900);
}

.DocSearch-Hits ul li a {
  background-color: white;
  box-shadow: none;
}

.DocSearch-Hit[aria-selected="true"] a {
  background-color: var(--ifm-color-brand-light-200);
}

.DocSearch-Commands-Key {
  box-shadow: none;
  background: transparent;
  border: 1px solid var(--ifm-color-brand-light-500);
  border-radius: 4px;
}

.DocSearch-Button:hover {
  box-shadow: none;
}

.DocSearch-Container {
  backdrop-filter: blur(3px);
  background: var(--ifm-color-white-opacity-15);
  z-index: 100;
  display: grid;
  justify-content: center;
  align-items: center;
}

.DocSearch-Modal {
  margin: 0;
  box-shadow: none;
  border: 1px solid var(--ifm-color-gray-900);
  height: fit-content;
  width: 50vw;
  max-width: unset;
  border-radius: 8px;
  overflow: clip;
}

.DocSearch-Dropdown {
  max-height: unset;
  height: 40vh;
}

.DocSearch-SearchBar {
  padding: 0;
}

.DocSearch-SearchBar form {
  border-radius: 0;
  box-shadow: none;
  border-bottom: 1px solid var(--ifm-color-gray-900);
}

.DocSearch-Footer {
  border-top: 1px solid var(--ifm-color-gray-600);
  box-shadow: none;
}

@media only screen and (max-width: 996px) {
  .DocSearch-Button {
    width: fit-content;
    border: none;
    margin: 0;
  }

  .DocSearch-Button-Keys {
    display: none;
  }

  .DocSearch-Container > div {
    width: 100vw;
    border-radius: 0;
    height: 100vh;
  }

  .DocSearch-Dropdown {
    max-height: unset;
    height: 80vh;
  }

  .DocSearch-Container {
    z-index: 201;
    position: fixed;
  }

  .DocSearch-SearchBar {
    padding: 10px 10px;
  }

  .DocSearch-SearchBar form {
    border-radius: 10px;
    border: 1px solid var(--ifm-color-brand-light-600);
  }

  .DocSearch-Button-Keys,
  .DocSearch-Button-Placeholder {
    display: none;
  }

  .DocSearch-Cancel {
    appearance: none;
    background: none;
    border: 0;
    color: var(--docsearch-highlight-color);
    cursor: pointer;
    display: inline-block;
    flex: none;
    font: inherit;
    font-size: 1em;
    font-weight: 500;
    margin-left: var(--docsearch-spacing);
    outline: none;
    overflow: hidden;
    padding: 0;
    -webkit-user-select: none;
    user-select: none;
    white-space: nowrap;
  }
}

.DocSearch-Button-Key {
  border: 1px solid #858586;
  background: transparent;
  box-shadow: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  padding: 0;
  color: #858586;
}

.DocSearch-Button-Placeholder {
  display: none;
}

@media only screen and (min-width: 996px) {
  .DocSearch-Button {
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    margin-top: 1.3rem;
    margin-bottom: 1.3rem;
    border: 1px solid var(--ifm-color-gray-800);
  }
  .DocSearch-Button-Placeholder {
    display: block;
  }
}

.DocSearch-Button-Keys kbd.DocSearch-Button-Key:first-child {
  font-size: 16px;
}
