.playground {
  height: 700px;
  width: 80%;
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
  margin: 0;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

@media (min-width: 768px) {
  .playground {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
}

@media (min-width: 1024px) {
  .playground {
    margin-top: 8rem;
    margin-bottom: 8rem;
  }
}
