.input {
  width: 100%;
  border-radius: 8px;
  border: 1px solid var(--ifm-color-gray-800);
  background-color: transparent;
  height: 44px;
  outline: 0;
  appearance: none;
  color: var(--ifm-navbar-search-input-color);
  cursor: text;
  display: inline-block;
  font-size: 0.9rem;
  padding: 0 0.5rem 0 1rem;
}

.inputContainer {
  padding: 1.3rem;
  padding-bottom: 1rem;
}

.overlay {
  background-color: rgba(255,255,255,.3);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  backdrop-filter: blur(3px);
  overflow: hidden;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  z-index: 9;
  background: white;
  width: 640px;
  transform: translate(-50%, -50%);
  border: 1px solid var(--ifm-color-dark-800);
  border-radius: 8px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 12rem;
}

.footer {
  padding: .75rem 1rem;
  border-top: 1px solid var(--ifm-color-gray-600);
}

.navigationInfoItem {
  display: flex;
  align-items: center;
}


.navigationInfoItem span {
  color: var(--ifm-color-gray-800);
  display: block;
  margin-left: .25rem;
  font-size: 12px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}