.config-form {
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 16px;

  * {
    font-family: Space Grotesk, sans-serif !important;
  }

  hr {
    display: none;
  }

  h5 {
    font-weight: 700;
  }

  button.disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  .field-template {
    margin-bottom: 16px;
  }

  .field-label {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    font-size: 1.5rem;
  }

  .field-label-text {
    display: flex;
    align-items: center;
    margin-right: 8px;
  }

  .info-icon {
    margin-top: 4px;
    margin-left: 4px;
  }

  .field-body>div {
    width: 100%;
  }

  .field-description {
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 1.66;
    letter-spacing: 0.03333em;
    color: rgba(0, 0, 0, 0.6);
  }

  .MuiCheckbox-root {
    padding: 0 !important;
  }

  .form-heading {
    font-size: 28px;
    margin-bottom: 40px;
  }
  .collapse-head {
    font-size: 24px;
    margin-top: 10px;
    margin-right: 10px;
  }
  .collapse-field-head{
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    transition: margin 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: #fff;
    color: rgba(0, 0, 0, 0.87);
    /* padding: 6px 16px; */
    border-radius: 5px;
    padding: 0 12px;
  }
  .collapse-field{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .red-remove{
    color: rgb(182, 5, 5);
  }
  .red-remove:hover{
    background-color: rgb(253, 244, 244);
  }
  .add-container{
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 100%;
  }
  .title-description{
    width: 100%;
  }
}

#root__title {
  --tw-bg-opacity: 1;
  background-color: rgb(253 234 46 / var(--tw-bg-opacity));
  display: flex;
  width: fit-content;
  padding: 8px 10px;
  border-radius: 1rem;
}

.config-success-modal-body {
  position: absolute;
  margin: auto !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}

.download-button {
  color: var(--ifm-color-gray-900) !important;
  border: 2px solid var(--ifm-color-gray-900) !important;
}
