@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&family=Space+Mono&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --ifm-font-family-base: "Space Grotesk", sans-serif;
}

.theme-doc-sidebar-item-link .menu__link.menu__link--active:after {
  content: "";
  display: block;
  background: url("../../static/icons/basic/chevron-right.svg") no-repeat;
  width: 1rem;
  margin-right: 1rem;
  margin-left: auto;
  height: 1rem;
}

.breadcrumbs__item.breadcrumbs__item--active span {
  background: transparent;
  color: var(--ifm-color-gray-900);
  font-weight: var(--ifm-font-weight-bold);
}

.menu__list-item-collapsible:hover {
  background: transparent;
}

.menu__list-item-collapsible a {
  font-size: 1.5rem;
  font-weight: var(--ifm-font-weight-bold);
}

.menu__link {
  height: 2.5rem;
  display: flex;
  align-items: center;
  color: var(--ifm-color-gray-900);
  /* font-size: 18px; */
  border-radius: 8px;
}

.menu__link.menu__link--active {
  background-color: #fdea2e;
  color: var(--ifm-color-gray-900);
  font-weight: var(--ifm-font-weight-bold);
}

.menu__link:hover {
  color: var(--ifm-color-gray-900);
}

.theme-doc-sidebar-item-category:not(:first-child) {
  margin-top: 1.5rem;
}

.theme-edit-this-page {
  max-width: 190px;
  display: flex;
  align-items: center;
  height: 3rem;
  color: var(--ifm-color-gray-900);
  border: 2px solid var(--ifm-color-gray-900);
  border-radius: 8px;
  justify-content: center;
  font-weight: var(--ifm-font-weight-bold);
}

.theme-edit-this-page:hover {
  color: var(--ifm-color-gray-900);
  text-decoration: none;
}

.pagination-nav__link {
  background: #fdea2e;
  border: none;
  border-radius: 16px;
}

.pagination-nav__label {
  color: var(--ifm-color-gray-900);
}

.pagination-nav__link--next .pagination-nav__label:after {
  content: "";
  background: url("../../static/icons/basic/arrow-right.svg") no-repeat;
  width: 0.75rem;
  height: 0.75rem;
  display: inline-block;
  margin-left: 0.5rem;
  background-size: 0.75rem 0.75rem;
}

.pagination-nav__link--prev .pagination-nav__label:before {
  content: "";
  background: url("../../static/icons/basic/arrow-left.svg") no-repeat;
  width: 0.75rem;
  height: 0.75rem;
  display: inline-block;
  margin-right: 0.5rem;
  background-size: 0.75rem 0.75rem;
}

.pagination-nav {
  grid-gap: 2rem;
}

.pagination-nav__sublabel {
  color: var(--ifm-color-gray-900);
  margin-bottom: 0.5rem;
  font-weight: var(--ifm-font-weight-normal);
}

.navbar__item.navbar__link {
  text-align: center;
}

.navbar__inner {
  max-width: 80rem;
  margin: 0 auto;
  position: relative;
}

.navbar__items {
  justify-content: center;
}

.header-button {
  display: flex;
  align-items: center;
  height: 3rem;
  color: var(--ifm-color-gray-900);
  border: 2px solid var(--ifm-color-gray-900);
  border-radius: 8px;
  justify-content: center;
  font-weight: var(--ifm-font-weight-bold); 
}

.header-button-github {
   padding: 0 1.25rem;
}

.header-button-github svg {
  margin-right: .5rem;
}

.header-button-discord {
  padding: 0 1rem;
}

.navbar__items--right .navbar__item.navbar__link:not(:first-child) {
  margin-left: 1rem;
}

.navbar__items--right .navbar__item.navbar__link:not(:last-child) {
  margin-right: 0;
}

.navbar {
  box-shadow: none;
  height: 7.5rem;
}

.navbar__brand {
  position: absolute;
  left: 0;
}

.navbar__logo {
  height: 2.5rem;
}

.navbar__items {
  margin-left: 12rem;
}

.navbar__items--right {
  margin-left: 0;
}


.navbar__item.navbar__link {
  font-weight: var(--ifm-font-weight-bold);
  font-size: 1.25rem;
}

.navbar__item.navbar__link {
  padding: 0;
  margin-right: 3rem;
}

.navbar__item.navbar__link:hover {
  color: var(--ifm-color-gray-900);
}

.navbar__item.navbar__link.navbar__link--active {
  background-color: #fdea2e; 
  color: var(--ifm-color-gray-900);
  padding: 0 .5rem;
  border-radius: 6px;
}

@media (max-width: 996px) {
  .navbar__items {
    margin-left: auto;
    justify-content: flex-end;
  }
}